Repository adaptui/react-tailwind-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn format

.lintstagedrc.json:

{
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"],
  "**/*.{html,css,js,jsx,ts,tsx,md,json}": ["yarn format"]
}

feat(docs): ✨ finish checkbox & radio
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/meta.json
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
Due: yarn format

fix(twind): 🐛 fixed twind & checkbox flex bug
  components/Codeblock.tsx
  components/InteractiveCodeblock.tsx
  package.json
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/radio.mdx
  yarn.lock
Due: yarn lint:fix, yarn format

docs(composition): 📝 finish writing documentation
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/meta.json
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/meta.json
  pages/docs/components/popups/tooltip.mdx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/composition.mdx
  pages/docs/meta.json
Due: yarn format

feat(nextra): ✨ update to latest version & it's theme changes
  .yalc/nextra-renderlesskit-theme-docs/dist/types/misc/theme-context.d.ts
  pages/index.mdx
Due: yarn format

feat(nextra): ✨ update to latest nextra updates
  .yalc/nextra-renderlesskit-theme-docs/dist/index.js
  .yalc/nextra-renderlesskit-theme-docs/dist/types/misc/theme-context.d.ts
  .yalc/nextra-renderlesskit-theme-docs/dist/types/utils/normalize-pages.d.ts
  .yalc/nextra-renderlesskit-theme-docs/package.json
  .yalc/nextra-renderlesskit-theme-docs/style.css
  .yalc/nextra-renderlesskit-theme-docs/yalc.sig
  package.json
  pages/index.md
  pages/meta.json
  public/.nextra/data-default.json
  yalc.lock
  yarn.lock
Due: yarn lint:fix, yarn format

chore(docs): 📝 update all docs notes
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meta.json
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/spinner.mdx
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/meta.json
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/tooltip.mdx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/components/primitives/badge.mdx
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button-group.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/components/primitives/divider.mdx
  pages/docs/components/primitives/icon.mdx
  pages/docs/components/primitives/meta.json
  pages/docs/components/primitives/tag.mdx
  pages/guides/usage-with-cra.mdx
  pages/guides/usage-with-nextjs.mdx
  pages/index.mdx
  public/ts-renderlesskit-variant.png
Due: yarn format

chore(components): 🎨 update all components used
  components/Bleed.tsx
  components/Callout.tsx
  components/Codeblock.tsx
  components/ComponentLinks.tsx
  components/CopyButton.tsx
  components/InteractiveCodeblock.tsx
  components/RegionTable.tsx
Due: yarn lint:fix, yarn format

style(PropsTable): 🍱 Fix PropsTable content not displaying in Darkmode
  components/PropsTable.tsx
  yarn.lock
Due: yarn lint:fix, yarn format

feat(theme): ✨ update to new theme
  .eslintignore
  .prettierignore
Due: none

refactor(global-css): 💄 format tailwind css order
  styles/global.css
Due: yarn format

chore(adaptui): ⬆️ update react-tailwind deps
  package.json
  yarn.lock
Due: yarn format

refactor(ci): 💚 fix test ci
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  __tests__/__snapshots__/snapshot.tsx.snap
  __tests__/index.test.tsx
  __tests__/snapshot.tsx
  components/__tests__/__snapshots__/index.test.tsx.snap
  components/__tests__/index.test.tsx
  package.json
  renovate.json
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn format

ci(ci): 👷 add code owners and ci scripts with kodiak support
  .eslintignore
  .eslintrc.json
  .github/CODEOWNERS
  .kodiak.toml
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn format

chore(renovate): 🔧 add nextra packages to ignore deps
  renovate.json
Due: yarn format

docs(readme): 📝 update readme
  README.md
Due: yarn format

chore(adaptui): ⬆️ update to latest alpha
  components/PropsTable.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn format

refactor(docs): 📝 Improve documentation and config changes
  README.md
  components/InteractiveCodeblock.tsx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/components/primitives/icon.mdx
  pages/index.mdx
  theme.config.js
Due: yarn lint:fix, yarn format

refactor(docs): 📝 improved homepage desc
  pages/index.mdx
Due: none

refactor(react-live): ♻️ add proper scope to react-live
  components/Codeblock.tsx
  components/InteractiveCodeblock.tsx
  components/PropsTable.tsx
  pages/docs/components/primitives/avatar-group.mdx
Due: yarn lint:fix, yarn format

refactor(hook): ♻️ segmentize hooks and utils
  components/Codeblock.tsx
  hooks/index.ts
  hooks/useMounted.tsx
  pages/docs/composition.mdx
  utils/colors.ts
  utils/index.ts
Due: yarn lint:fix, yarn format

refactor(codeblock): ♻️ refactor codeblock and clipboard button
  components/ClipBoardCopyButton.tsx
  components/Codeblock.tsx
  components/Codeblock/CopyCodeButton.tsx
  components/Codeblock/index.tsx
  components/CopyButton.tsx
  components/Icons/CopiedIcon.tsx
  components/Icons/CopyIcon.tsx
  components/Icons/index.ts
  components/InteractiveCodeblock.tsx
  package.json
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/feedback/spinner.mdx
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/tooltip.mdx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/components/primitives/badge.mdx
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button-group.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/components/primitives/divider.mdx
  pages/docs/components/primitives/icon.mdx
  pages/docs/components/primitives/tag.mdx
  pages/docs/composition.mdx
  utils/index.ts
  utils/reactLiveScope.ts
  yarn.lock
Due: yarn lint:fix, yarn format

refactor(docs): 📝 update existing documentation
  pages/docs/composition.mdx
  pages/docs/getting-started.mdx
  pages/docs/theming.mdx
Due: none

docs(getting-started): 📝 add syntax highlighting
  pages/docs/getting-started.mdx
Due: none

feat(codeblock): ✨ add finished codeblock to mdx components
  components/ClipBoardCopyButton.tsx
  components/Codeblock/CopyCodeBlockButton.tsx
  components/Codeblock/index.tsx
  components/Codeblock/transformer.ts
  components/CopyButton.tsx
  components/InteractiveCodeblock.tsx
  components/Pre.tsx
  components/Tooltip.tsx
  components/index.ts
  package.json
  pages/_app.tsx
  pages/docs/composition.mdx
  utils/index.ts
  utils/mdxComponents.ts
  yarn.lock
Due: yarn lint:fix, yarn format

docs(theming): 📝 improve theme documentation with example code
  pages/docs/theming.mdx
Due: none

docs(getting-started): 📝 update codeblock highlights
  pages/docs/composition.mdx
  pages/docs/getting-started.mdx
  pages/docs/theming.mdx
  pages/index.mdx
Due: none

docs(theme): 📝 add details on customizing theme
  pages/docs/theming.mdx
Due: none

refactor(logs): 🔥 remove console.logs
  components/InteractiveCodeblock.tsx
  components/Pre.tsx
Due: yarn lint:fix, yarn format

docs(docs): 📝 improve docs for icon, box components
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/components/primitives/icon.mdx
Due: none

docs(icon): 📝 update all icons layout responsive
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/components/primitives/icon.mdx
Due: none

docs(docs): 📝 improve docs for mcomponents
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/feedback/spinner.mdx
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/tooltip.mdx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/components/primitives/badge.mdx
  pages/docs/components/primitives/button-group.mdx
  pages/docs/components/primitives/divider.mdx
  pages/docs/components/primitives/tag.mdx
Due: none

docs(guides): 📝 improve docs/guides
  pages/guides/typescript-guide.mdx
  pages/guides/usage-with-cra.mdx
  pages/guides/usage-with-nextjs.mdx
  public/ts-adaptui-variant.png
Due: none

docs(feedback): 📝 update docs fo feedback
  package.json
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/feedback/spinner.mdx
  yarn.lock
Due: yarn format

docs(docs): 📝 improve documentation for multiple components
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/tooltip.mdx
  pages/docs/components/primitives/avatar-group.mdx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button.mdx
  pages/docs/getting-started.mdx
Due: none

docs(interactive): :memo: improve docs and move to pnpm
  components/Icons/CopyIcon.tsx
  pages/docs/components/primitives/avatar.mdx
  pages/docs/components/primitives/badge.mdx
  pages/docs/components/primitives/box.mdx
  pages/docs/components/primitives/button-group.mdx
  pages/docs/components/primitives/divider.mdx
  pages/docs/components/primitives/icon.mdx
  pages/docs/components/primitives/tag.mdx
  pages/docs/getting-started.mdx
  pages/docs/meta.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn lint:fix, yarn format

fix(dependency): :heavy_plus_sign: add next-theme package
  package.json
  pnpm-lock.yaml
Due: yarn format

docs(feedback): :memo: feedback components improvements
  pages/docs/components/feedback/circular-progress.mdx
  pages/docs/components/feedback/meter.mdx
  pages/docs/components/feedback/progress.mdx
  pages/docs/components/feedback/show-more.mdx
  pages/docs/components/feedback/spinner.mdx
  pages/docs/components/primitives/avatar.mdx
Due: none

docs(forms): :memo: improve forms docs
  pages/docs/components/forms/checkbox-group.mdx
  pages/docs/components/forms/checkbox.mdx
  pages/docs/components/forms/input.mdx
  pages/docs/components/forms/radio-group.mdx
  pages/docs/components/forms/radio.mdx
  pages/docs/components/forms/select.mdx
  pages/docs/components/forms/slider.mdx
  pages/docs/components/forms/switch.mdx
  pages/docs/components/forms/textarea.mdx
  pages/docs/components/popups/tooltip.mdx
  pages/guides/typescript-guide.mdx
  pages/guides/usage-with-cra.mdx
  pages/guides/usage-with-nextjs.mdx
  public/ts-adaptui-variant.png
Due: none
